@font-face {
font-family: "SegoeUI-SemiBold";
src: url("../fonts/SegoeUI-SemiBold.ttf");
}

@font-face {
font-family: "PTSansBold";
src: url("../fonts/PTSansBold.ttf");
}

@font-face {
font-family: "PTSansRegular";
src: url("../fonts/PTSansRegular.ttf");
}

@font-face {
font-family: "georgiai";
src: url("../fonts/georgiai.ttf");
}

// @font-face {
//  font-family: wu-ico-911;
//  src: url("http://localhost/fonts/wu-ico-911.ttf")format('truetype'),
//  	url("http://localhost/fonts/wu-ico-911.eot")format('embedded-opentype');
//  }